
*{
    margin:0;
    padding: 0;
}


.Titulo{
 background: none;
 position: relative;
 top: 130px;
 color:white;
 text-align: center;
 font-family:PoiretOne-Regular;
 letter-spacing: 15px;
 font-size:3em;
 right:25%;   
 animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

#wrapper{
    position: relative;
    top: 350px;
}



#mona{
    width: 92%;
    height: auto;
}


.cajaimagen{
    background-image:url(../img/Mural.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 150px;
    top: 256px;
    z-index: 3;
    display: flex;
    left: 7%;
    width: 85%;
}

  
@media screen and (max-width:600px){

    .Titulo{
        position: relative;
        right: 9%;
    }
}



#wrapper{
    width: 100%;
}


.RedesSociales{
    position:relative;
    top: 550px;
    width:100%;
    background-color: black;;
    height: 600px;
    z-index: 2;
    overflow: hidden;
}

.iconosredes li{
    width: 100%;
    display: inline;
    text-align: center;
}

.iconosredes li a img{
    position: relative;
    top:176px;
    left: 40%;
    vertical-align: middle;
    padding: 5px;
    height: 50px;
}

.cajaIconos{
      position: relative;
      left: 5%;
}
  
#facebook{
    position: relative;
    left: 61%;
    width: 74px;
    height:74px;
    top: 105px;
}

#youtube{
    position: relative;
    left:18% ;
    top: 235px;
}
  
#footerinf{
    margin: auto;
    position: relative;
    color: white;
    text-align: center;
    top: 200px;
    font-family:   Gravity-Regular;
    font-size: 100%;
    letter-spacing: 2px;
    width: 100%;
}
  
@media screen and (max-width:700px){
  
    .cajaIconos{
      position: relative;
      right: 40px;
    }
  
}
  
@media screen and (max-width:450px){
    .cajaIconos{
      position: relative;
      right: 63px;
    }

    .Imagineria_de_ultramar{
        position: relative;
        top: -60px;
    }
}

.caja_galaxias{
    position: relative;
    top: 60px;
}

.caja_imagineria{
    position: relative;
    top: 64px;
}
.Animalia{
    width: 93%;
}

.El_rostro{
    width: 99%;
}

.Sueños_del_tiempo{
    width: 97%;
}
  
.Galaxias_y_membranas{
    border-radius: 4%;
    position: relative;
    top:90px;
}

.Alegoria_de_una_loba{
    position: relative;
    top: 51px;

}

.Imagineria_de_ultramar{
    position: relative;
    top: 100px;
}

.El_nido{
    position: relative;
    top: 83px;
}

.Oaxaquita{
    position: relative;
    top: 0;
}

@media screen and (max-width:770px){

      
.Galaxias_y_membranas{
    position: relative;
    top: 0;
}

.Alegoria_de_una_loba{
    position: relative;
    top: -66px;

}


.El_nido{
    position: relative;
    top: 0;
}

.Oaxaquita{
    position: relative;
    top: 0;
}
}